@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-slide {
  padding: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #e11d48;
  font-size: 24px;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background: #e5e7eb;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #e11d48 !important;
}